<div class="container-fluid"> <!-- container for articles and comments -->
  <h1 class="text-center">Browse Cricket Articles</h2>
  <div class="row"> <!-- row for articles and comments -->
    <div class="col-sm-7 col-sm-offset-1"> <!-- column for articles -->
      <div id="articles"></div>
    </div>  <!-- closing column for articles -->

    <div class="col-sm-2 col-sm-offset-1"> <!-- column for comments -->
      <div id = "comments"></div>
    </div> <!-- closing column for comments -->
  </div> <!-- closing row for articles and comments -->
</div> <!-- closing container for articles and comments -->
